#connect {
    box-sizing: border-box;
    width: 400px;
    height: 180px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #333;
    box-shadow: 0px 5px 5px 4px #999;

    button {
        display: block;
        width: 180px;
        margin: auto;
    }
}
