@mixin dialog($width, $height) {
    box-sizing: border-box;
    width: $width;
    height: $height;
    margin: auto;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #333;
    box-shadow: 0px 5px 5px 4px #999;

    button {
        display: block;
        font-size: 16px;
        position: absolute;
        bottom: 30px;
    }
}

#connect {
    @include dialog(400px, 180px);

    button {
        &.connect {
            right: 35px;
            font-weight: bold;
            background: #cfd;
        }

        &.register {
            left: 20px;
        }
    }
}

#register {
    @include dialog(400px, 270px);

    button {
        &.register {
            right: 35px;
            font-weight: bold;
            background: #cfd;
        }

        &.connect {
            left: 20px;
        }
    }
}
