
form {
    .input-row {
        margin-bottom: 10px;

        label {
            display: inline-block;
            width: 120px;
        }

        input {
            display: inline-block;
            border: solid 1px #aaa;
            border-radius: 5px;
            line-height: 18px;
            padding: 5px 10px;
            outline: none;

            &:focus {
                border-color: #333;
            }
        }
    }
}
