
$sidebar_background: #333;
$sidebar_color: #ddd;
$sidebar_width: 240px;

* { margin: 0; padding: 0; }

body {
    font-family: sans-serif;
}

@import "form";

@import "connect";
@import "sidebar";
@import "chat";