#sidebar {
    width: $sidebar_width;
    float: left;
    background: $sidebar_background;
    color: $sidebar_color;
    padding-left: 20px;

    .connection-info {
        background: $sidebar_background * 0.8;
        margin: 0 0 20px -20px;
        padding: 5px 0 10px 20px;
        position: relative;
        height: 50px;

        h3 {
            margin-top: 10px;
        }

        .dropdown-control {
            &::before { content: '▼'; }
            position: absolute;
            right: 10px;
            top: 15px;
            cursor: pointer;
            color: $sidebar_color * 0.8;
            &:hover {
                color: $sidebar_color * 1.2;
            }
        }

        .dropdown {
            background: $sidebar_color;
            color: $sidebar_background;
            position: absolute;
            top: 40px;
            right: 10px;
            padding: 10px 10px;
            border-radius: 5px;
            z-index: 100;
            min-width: 180px;

            .dropdown-item {
                line-height: 25px;
                border-top: solid 1px $sidebar_background * 1.4;
                font-weight: bold;
                cursor: pointer;
                padding: 0 5px;

                &:hover {
                    color: $sidebar_color;
                    background: $sidebar_background * 1.4;
                }

                &:first-child {
                    border-top: none;
                }
            }
        }
    }

    .private-chats {
        margin-bottom: 20px;

        h3 {
            position: relative;
            margin-bottom: 10px;

            .add-contact {
                display: block;
                position: absolute;
                right: 20px;
                top: 0px;
                width: 16px;
                height: 16px;
                color: $sidebar_color * 0.8;
                border: solid 2px $sidebar_color * 0.8;
                border-radius: 12px;
                text-align: center;
                line-height: 16px;
                font-weight: bold;
                cursor: pointer;

                &::before { content: '+'; }
                &:hover {
                    border-color: $sidebar_color;
                    color: $sidebar_color;
                }
            }
        }

        .subscribe-form {
            border-radius: 5px;
            background: $sidebar_background * 1.5;

            input, button {
                background: none;
                color: $sidebar_color;
                font-size: 16px;
                outline: none;
                border: none;
                display: inline-block;
                width: 50%;
            }
        }
    }

    .channel-list {
        list-style: none;

        .channel {
            cursor: pointer;
            line-height: 1.5em;
            margin-left: -5px;
            padding-left: 5px;
            margin-right: 10px;
            border-radius: 5px;
            margin-bottom: 2px;

            .presence-icon {
                display: inline-block;
                margin-right: 3px;
            }

            &:hover {
                background: $sidebar_background * 1.25;
            }

            &[data-selected="true"] {
                background: $sidebar_background * 1.5;
            }

            &[data-presence="available"] .presence-icon {
                &::before { content: '●'; }
            }

            &[data-presence="away"] .presence-icon {
                color: $sidebar_color / 2;
                &::before { content: '●'; }
            }

            &[data-presence="unavailable"] .presence-icon {
                color: $sidebar_color / 2;
                &::before { content: '○'; }
            }
        }
    }
}
